body {
    background-color: #FFD29D;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

.h1 {
    font-family: Copperplate;
}

img {
    border-radius: 30px;
    position: relative;
    left: 30px;
    border: solid rgb(58, 23, 3) 2px;
}

hr {
    width:50%;
    height: 2px;
    border-width:0;
    text-align:left;
    margin-left:0;
    background-color: rgb(123, 33, 12);
}

#cor {
    color: rgb(74, 24, 13);
}

#cor2 {
    color: rgb(228, 212, 184);
}

#cabecalho {
    font-family: 'Bowlby One';
    background-color: #FF751F;
    color: rgb(74, 24, 13);
    align-content: center;
    text-align: center;
    width: 100%;
    height: 130px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 50px;
}

#subtitu {
    background-color: #61904C;
    color: rgb(41, 63, 5);
    align-content: center;
    text-align: center;
    width: 100%;
    height: 50px;
    margin-top: 0px;
    position: relative;
    bottom: 0px;
}


#rodape {
    background-color: #a41623;
    flex-direction: row;
    align-content: center;
    text-align: center;
    width: 100%;
    height: 50px;
    margin-bottom: 0px;
    margin-top: 50px;
}

#texto {
    background-color: #fcddba;
    height: 50px;
    width: 400px;
    align-items: center;
    align-content: center;
    border-radius: 30px;
}

a:link {
    color: rgb(228, 212, 184);
    text-decoration: none;
    font-size: x-large;
}

a:hover {
    color: rgb(250, 250, 250);
    background-color: transparent;
    text-decoration: underline;
}

a:visited {
    color: rgb(228, 212, 184);
  }