* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background:rgb(231, 226, 226);
}

.header {
    background:rgb(194, 57, 57) ;
    color: rgb(228, 213, 213);
    text-align: center;
    padding: 20px;
}

.menu {
    background: rgb(130, 30, 30);
}

.menu ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    gap: 50px;
}

.menu a {
    color: rgb(224, 204, 199);
    text-decoration: none;
    font-weight: bold;
}

.container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.conteudo {
    background: rgb(245, 239, 239);
    padding: 20px;
    border-radius: 10px;
}

.lateral {
    background: rgb(245, 239, 239);
    padding: 20px;
    border-radius: 10px;
}

.footer {
    background: rgb(130, 30, 30);
    color: rgb(228, 213, 213);
    align-items: center;
    padding: 20px;
    margin-top: 20px;
}

/*RESPONSIVIDADE*/
@media (min-width: 768px){
    .container{
        flex-direction: row;
    }
    .conteudo{
        flex: 3;
    }
    .lateral{
        flex:1;
    }
}

